

  
  .dropdown-toggle::after {
    color: white !important;
  }
  .drop-down{
    text-decoration: none !important;
    color: #5E5E5E;
    font-weight: 500;
    font-size: 20px;
  }
  
  .nav-link{
    text-decoration: none !important;
    color: #f2f2f2;
    font-weight: 500;
    font-size: 18px;
  }
  .dropdown-menu.show {
    font-weight: 500;
    font-size: 19px;
  }
  .for-header-button{
    display: inline-flex !important;
    position: relative !important;
    font-weight:550 !important;
    font-size: 16px !important;
    box-shadow: none !important;
    background-color: #061B49 !important;
    border:1px solid #fff !important; 
    padding: 10px 15px;
    border-radius: 5px !important;
  }
  .for-header-button:hover{
    border:1px solid #061B49 !important;
    background-color: transparent !important;
    color: #061B49 !important;
  }
  @media (min-width: 1400px) {
    .header{
      height:40px !important;
    }
  }
  